# Editor-specific
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.settings

# (ts) Installed libs
node_modules
dist
dist-ssr
*.local

# (py) Installed libs
__pycache__
venv

# Misc
.pnpm-store
npm-debug.log
.DS_STORE
*.tgz
.eslintcache
package-lock.json
.tmp
.env
/NOTES.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local agent files
CLAUDE.local.md
